mixin item-card( product )
    a(href=`product/${product._id}` class='item')
        div
            img(src=`${product.imgProduct}` class="img-item")
        div(class='item__info')
            div(class='info-numero')
                p(class='info-precio') #{product.typePrice.priceFormat}
                if (product.typePrice.old !== 0)
                    p(class='info-descuento') #{Math.round((product.typePrice.old - product.typePrice.current) / (product.typePrice.old / 100))} % OFF
                
            p(class='item-cuotas') 6x $ 999.83 sin interés
            div(class='item-envio')
                p Envío gratis
                //- i(class='icon-full far fa-bolt')
                p(class='envio-full') FULL
            p(class='titulo-hover') #{ product.title }
        div(class='icon-fav')
            i(class="far fa-heart")