-var dateFormat = (dateOrder) => new Date(Number(dateOrder)).toLocaleDateString("es-AR", { year: 'numeric', month: 'long', day: 'numeric' })

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44819,44818,44817,44821,44813,44815", rel="stylesheet")
        link(rel="stylesheet", href="../css/myorder.css")
        script(src="https://kit.fontawesome.com/fe5071cad1.js", crossorigin="anonymous")
        title Carrito de compras
    body
        include components/nav.pug
        +nav(user)
        main.contenedor
            h1 Compras 
            section 
                for order in orders 
                    div.order 
                        p.order__title #{ dateFormat(order.date) }
                            span ID: #{ order._id } 
                        for product in order.products
                            div.product
                                div.product__img
                                    img(src=`${product.idProduct.imgProduct[0]}`)
                                div.product__info
                                    p=product.idProduct.title
                                    p #{ `${ product.quantity > 1 ? "unidades: " : "unidad: " } ${ product.quantity }` }

    script(src="../js/myorder.js") 
